/* *{
    background: #333;
}

div{
    background: gray;
}

.amarelo{
    background: yellow;
}

#vermelho{
    background: red;
}

div.amarelo#vermelho{
    background: purple;
} */

/* Exemplo 2 */

/* #ex2 div.amarelo div{
    background: blue;
}

#ex2 div.amarelo > div{
    background: green;
} */

/* Exemplo 3 */

/* #ex3 div.amarelo ~ div{
    background: green;
} */

/* n sei */

/* div.amarelo{
    height: 500px;
    width: 500px;
    padding: 50px;
    margin: 20px;
    border: 10px solid black;
}

div.amarelo div{
    width: 100%;
    height: 100%;
    background: green;
} */

.container{
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    padding: 0 20px;
    box-sizing: border-box;
    background-color:#04314f;
    /* border: 1px solid red; */
}

html{
    /* font-size: 12px; */
}

body{
    background: #333;
}

header{
    height: 70px;
    width: 100%;
    background: #666;
    align-items: center;
}

nav{
    height: 100%;
}

h1{
    text-align: center;
    font-size: 3.2em;
}

section{
    height: 50vh;
    width: 100%;
    background: #334;
    font-size: 12px;
}

p{
    font-size: 1.6em;
    line-height: 1.5;
    padding: 5px;
}

footer{
    height: 70px;
    width: 100%;
    background: #222;
}

img{
    
    justify-content: center;
    align-items: center;

    
}

#logo {
    display: block;    
    margin-left: auto;
    margin-right: auto;
    
    
}

.sectionHeaderStyle{
    background-color: #000032;
    color: white;
    font-family: Arial, Helvetica, sans-serif;

}

.internalContent {
    background-color: white;
    text-align: center;
    font-size: 12px;
    padding: 20px;
    
}

.imgContent {
    border-radius: 5px;
    max-width: 50%;
    
    
    border: 3px dotted  #6e6e6e;
}